*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #FFF9F4;
}

.container {
    width: 1300px;
    max-width: 100%;
    margin: auto;
}

.row {
    display: flex;
}

header#header-fixed {
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FFF8F3;
    clip-path: polygon(7% 98%, 0% 75%, 0% 0%, 100% 0%, 100% 75%, 14.4% 75%);
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 3.125rem 0 2.8125rem 0;
}

#main-nav li {
    display: inline-block;
    padding: 0 1.5625rem;
    box-sizing: border-box;
}

#main-nav li a {
    display: inline-block;
    color: #767592;
    text-decoration: none;
    padding: 0.625rem 1.5625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.9375rem;
    box-sizing: border-box;
}

#main-nav li.active a {
    color: #C8C6D5;
}

#main-nav.clicked {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 3.125rem 0 2.8125rem 0;
}

#main-nav.clicked li {
    display: inline-block;
    padding: 0 1.5625rem;
    box-sizing: border-box;
}

#main-nav.clicked li a {
    display: inline-block;
    color: #767592;
    text-decoration: none;
    padding: 0.625rem 1.5625rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.9375rem;
    box-sizing: border-box;
}

#main-nav.clicked li.active a {
    color: #C8C6D5;
}

#logo-mobile.basket-icon {
    display: none;
    margin: 0 1.875rem 0 0;
}

.basket-icon {
    width: 26px;
    height: 32px;
    max-width: 100%;
    margin: 0 0 0.3125rem 0;
    position: relative;
    border: none;
    background: #FEFEFE;
}

.basket-icon .basket-icon-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#main-nav li a:hover {
    color: #C8C6D5;
}

.logo {
    transform: translateY(0.25rem);
}

.hero {
    position: absolute;
    margin: auto;
}

.row .logo .logo-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-text-big {
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    letter-spacing: -0.0125rem;
}

.logo-text-small {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.row .logo .logo-container {
    position: relative;
}

.logo-container img {
    max-width: 100%;
}

.container section.content {
    background-image: url(Photos/pexels-photo-842711.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 1.5625rem 0, 5.625rem 1.1875rem, 10.3125rem 0, 100% 0, 100% 100%, 0 100%);
    margin: -0.0625rem auto 0 auto;
    max-width: 100%;
    height: 37.5rem;
}

.container section.content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 4.375rem;
    text-align: start;
    line-height: 1.1em;
}

.container section.content .content-background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 6.125rem 0 0 11.1875rem;
}

.container section.content .button-black {
    margin: 2.6875rem 0 0 11.875rem;
}

.container section.content .button-black button {
    border: 0;
    background: #2B2C48;
    color: #FFF9F4;
    line-height: 2rem;
    min-width: 0.75rem;
    padding: 0.25rem 2.0625rem;
    margin: 0.0625rem 0 0 0;
}

.container section.content .button-black .button-shop-container {
    display: inline-block;
}

.container section.content .button-black button:hover {
    background-color: #FFF9F4;
    color: #2B2C48;
    transition: background-color 0.4s;
}

.container section.content .button-black button:not(active) {
    background-color: #2B2C48;
    color: #FFF9F4;
    transition: background-color 0.3s;
}

.container .aside-social-networks {
    position: fixed;
    top: 40%;
    right: 3%;
}

.aside-social-networks .social-network__icon, .social-network__icon a {
    display: block;
}

.aside-social-networks li.social-network__icon:not(:last-child) {
    margin: 0 0 1.5625rem 0;
}

.aside-social-networks .live-chat-icon {
    position: fixed;
    bottom: 10%;
    right: 0.3125rem;
}

.aside-social-networks a.rounded-wrapper {
    display: block;
    background-color: rgb(48, 47, 81);
    color: rgb(255, 255, 255);
    width: 4.375rem;
    height: 3.75rem;
    border-radius: 1.25rem;
    position: relative;
}

.live-chat-icon .messenger-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.live-chat-form {
    display: none;
    width: 2.125rem;
    height: 3.375rem;
    position: fixed;
    bottom: 0%;
    right: 0.3125rem;
}

.live-chat-form-flew-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.live-chat-form-flew-wrapper .chat-header {
    display: flex;
    flex-direction: column;
    flex: 8;
    background-color: #E9E9EC;
}

.chat-header-primary {
    flex: 0.8;
    background-color: #2B2C48;
    position: relative;
    display: flex;
    cursor: pointer;
}

.chat-header-main {
    flex: 1;
    background-color: #C8C6D5;
}

.chat-textarea {
    flex: 1;
    background-color: #FFFFFF;
}

.chat-header .chat-close {
    position: absolute;
    top: 0.9375rem;
    right: 1.125rem;
    width: 1.875rem;
    height: 1.875rem;
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.chat-header .chat-close:hover {
    border-radius: 50%;
    background-color: #767592;
    opacity: 2;
    transition: background-color .5s;
}

.chat-header .chat-close:not(active) {
    border-radius: 50%;
    background-color: transparent;
    opacity: 2;
    transition: background-color .5s;
}

.chat-welcome-wrapper {
    color: #FEFEFE;
    display: inline-block;
    align-self: center;
}

.chat-welcome-wrapper .chat-welcome-primary {
    font-size: 0.125rem;
    line-height: 1.3;
    margin: 0 0 0 7.3125rem;
    padding-top: 0;
    max-width: 14.6875rem;
    text-align: center;
}

.chat-welcome-secondary {
    font-size: 0.9375rem;
    max-width: 14.375rem;
    line-height: 1.3;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    max-height: 0.5rem;
    overflow: hidden;
    display: block;
    margin: 0.625rem 0 0 3.5625rem;
}

.title-component-wrapper {
    margin: 4.375rem 0 4.375rem 0;
}

.title-component-wrapper .product-title {
    font-size: 1.875rem;
    color: #2B2C48;
    text-align: center;
}

.product-component-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.products-wrapper {
    margin: 4.375rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product-component {
    position: relative;
}

.products-component-wrapper .products-component img {
    width: 26.875rem;
    height: 27.5rem;
    max-width: 100%;
    max-height: 100%;
}

.product-component-title {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.product-component-price {
    display: inline;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.9375rem;
}

.product-quick-view-title {
    text-align: center;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.25rem);
    transition: .4s linear;
}

.product-component-wrapper:hover .product-quick-view-title {
    opacity: 1;
    visibility: visible;
}

.product-title-price-wrapper {
    display: flex;
    flex-direction: column;
}

.chat-header-primary.clicked {
    flex: 0.17;
    transition: flex .8s;
}

.chat-header-primary.clicked .chat-welcome-secondary {
    display: none;
}

.chat-header-primary.clicked .chat-welcome-primary {
    margin: 0 0 0 0.0625rem;
    font-size: 1.125rem;
    transition: margin-left .8s;
}

.button-white {
    margin: 2.5rem 0 0 0;
    display: block;
}

.button-white .button-container {
    text-align: center;
}

.button-white button {
    border: 0.0625rem solid #2B2C48;
    background-color: #FFF9F4;
    color: #2B2C48;
    line-height: 0.1875rem;
    min-width: 7.5rem;
    padding: 0.625rem 2.5rem;
}

.button-white button:hover {
    background-color: #2B2C48;
    color: #FFF9F4;
    transition: background-color ease 0.8s;
}

.billboard {
    display: block;
    background-image: url(Photos/pexels-photo-842711.jpeg);
    background-size: cover;
    background-position: top;
    margin: 3.125rem auto 0 auto;
    width: 100%;
    height: 31.25rem;
}

.feedback-title {
    display: block;
    font: bold;
    text-align: center;
    color: #302F51;
    font-size: 1.875rem;
}

.title-component-wrapper p {
    font-size: 1.25rem;
    color: #302F51;
    display: block;
    text-align: center;
}

.customers-reviews {
    display: block;
    background-image: url(Photos/pexels-photo-842711.jpeg);
    background-size: cover;
    background-position: top;
    margin: 3.125rem auto 3.125rem auto;
    width: 100%;
    height: 31.25rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.0625rem solid;
}

.footer .navigation {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.footer .footer-menu {
    margin: 1.25rem 0 1.25rem 0;
}

.footer .footer-info {
    margin: 1.25rem 0 1.25rem 0;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
}

.footer-menu nav {
    list-style-type: none;
}

.footer-menu li a {
    display: inline-block;
    color: #2B2C48;
    text-decoration: none;
    padding: 0.3125rem 1.5625rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    box-sizing: border-box;
}

.footer-menu li.active a {
    color: #B7B6CC;
}

.footer-menu li a:hover {
    color: #C8C6D5;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.footer-info .info-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: #2B2C48;
    padding: 0.3125rem 0 0.3125rem 0;
    margin-bottom: 0.3125rem;
}

.footer-info .info-link, a {
    font-size: 1.125rem;
    font-weight: 400;
    color: #69687A;
    padding: 0.3125rem 0 0.3125rem 0;
    margin: 0.3125rem 0 0.3125rem 0;
    text-decoration: none;
}

.footer-social-icons ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.footer-social-icons li.social-network__icon {
    list-style-type: none;
    margin-right: 2rem;
}

.community {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 0.0625rem solid #2B2C48;
    padding: 7.5rem 3.125rem 1.25rem 3.125rem;
    margin: 2.1875rem 0 0 0;
}

.community h5 {
    text-align: center;
    font-size: 1.25rem;
    color: #2B2C48;
    margin: 0 0 0.25rem 0;
}

.mail input {
    padding: 0.9375rem 18.75rem;
    border: 0.0625rem solid #2B2C48;
    max-width: 100%;
    outline: none;
}

.mail input:hover {
    background: #B7B6CC;
}

.mail input:focus {
    background: #FEFEFE;
}

.community .join {
    border: 0;
    background-color: #2B2C48;
    color: #FFF9F4;
    line-height: 2rem;
    padding: 0.625rem 23.125rem;
    outline: none;
    margin: 0.625rem 0 0 0;
    max-width: 100%;
    cursor: pointer;
}

.community .join:hover {
    background-color: #FFF9F4;
    color: #2B2C48;
    transition: background-color .8s;
}

.community span {
    margin: 0.4375rem 0 0 0;
    font-size: 1rem;
}

.menu-toggle {
    display: none;
}

.community form {
    max-width: 100%;
}

@media only screen and (max-width:768px) {
    html {
        font-size: 0.5rem;
    }
    .aside-social-networks {
        display: none;
    }
    .menu-toggle i {
        font-size: 3.875rem;
        color: #3F3A05;
    }
    .menu-toggle {
        display: inline-block;
        text-align: left;
        font-size: 1.875rem;
        box-sizing: border-box;
        color: #FFFAF5;
    }
    #main-nav {
        background: #302F51;
        width: 70%;
        position: absolute;
        top: 0px;
        height: 100vh;
        left: 0;
        transform: translateX(-160%);
        transition: .5s;
    }
    header#header-fixed {
        clip-path: none;
        height: 110px;
        position: relative;
    }
    .container section.content {
        clip-path: none;
        margin: 0;
    }
    .logo-text-big {
        font-size: 1.25rem;
    }
    .logo-text-small {
        font-size: 0.9375rem;
    }
    .container section.content .content-background-text {
        padding: 6.125rem 0 0 6.1875rem;
    }
    .container section.content .button-black {
        margin: 2.6875rem 0 0 6.875rem;
    }
    .container section.content .button-black button {
        padding: 1.25rem 2.0625rem;
    }
    #logo-mobile.basket-icon {
        display: block;
    }
    #logo-desktop.basket-icon {
        display: none;
    }
    .logo {
        width: 130px;
    }
    .logo-container img {
        height: 90px;
    }
    .button-white button {
        padding: 1.625rem 2.5rem;
    }
    .menu-basket {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products-wrapper {
        justify-content: center;
    }
    .product-component-title {
        font-size: 2rem;
    }
    .product-component-price {
        font-size: 1.5rem;
    }
    .title-component-wrapper p {
        font-size: 2.25rem;
    }
    .footer .navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    #mobile-second.footer-info {
        order: 2;
    }
    #mobile-one.footer-info {
        order: 1;
    }
    #mobile-third.footer-info {
        order: 3;
    }
    .footer-info {
        width: 150px;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .footer-menu {
        display: none;
    }
    .footer-info .info-title {
        font-size: 1.8rem;
    }
    .footer-info .info-link a {
        font-size: 1.7rem;
    }
    .community {
        border: none;
        padding: 0;
        margin: 0;
        max-width: auto;
    }
    .community h5 {
        font-size: 2.25rem;
    }
    .mail input {
        padding: 0.9375rem 13.75rem;
    }
    .community span {
        font-size: 1.5rem;
    }
    .community .join {
        padding: 0.625rem 22.125rem;
    }
    #main-nav.clicked li a {
        font-size: 2rem;
        color: #F9EDDF;
    }
    #main-nav.clicked {
        position: absolute;
        transform: translateX(0%);
        transition: .5s;
    }
    #main-nav ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }
    #main-nav li {
        margin-top: 34px;
    }
    #main-nav li .active a {
        color: #F88D58;
    }
}